
@media screen and (max-width: 667px) {
    .view {
        width: 375px;
    }
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('/fonts/Lato-Thin.ttf');
}

body {
  overflow-y: none;
  width: 100%;
  background-color: rgb(233, 231, 231);
}

#header {
    background-color: darkblue;
    height: 250px;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    margin-top: -2rem;
    text-align: center;
}

#pump {
    font-family: 'Lato';
    font-size: 60px;
    justify-content: center;
    display: flex;
    position: static;
    color: bisque;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

#date, #focus {
    font-size: 35px;
    color: bisque;
    text-align: center;
    margin-top: 0rem;
    display: inline-block;
   
}

#date {
    font-family: 'Lato-Light';
    padding-right: 1rem;
}

#focus {
    font-family: 'Lato';
}

#submit, #backk {
    display: inline;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}

select {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    text-align: center;
    color: cornflowerblue;
    font-size: x-large;
}

#top {
    padding-top: 2rem;
    justify-items: center;
    text-align: center;

}

#daily {
    width: 550px;
    padding: 0rem;
    margin-top: 2rem;
    margin-left: 3rem;
    justify-items: center;
}

#genBut{
    font-family: 'Lato-Light';
    font-size: 45px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    display:inline;
    border-radius: 1rem;
    padding: .4rem;
    margin-top: 5rem;
    width: 450px;
    margin-bottom: 2rem;
}


#armbeg {
    padding-top: 2rem;
    justify-items: center;
    text-align: center;
    
}

#w1, #w2, #w3, #w4 {
    display: none;
    font-family: 'Lato';
    font-size: 38px;
    color:darkblue;
    margin-bottom: .25rem;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#r1,#r2,#r3,#r4 {
    display: none;
    font-family: 'Lato';
    font-size: 32px;
    color:brown;
    margin-top: 1.5rem;
}

#d1, #d2, #d3, #d4 {
    display: none;
    font-family: 'Lato';
    font-size: 35px;
    color:rgb(204, 121, 43);
    margin: 0 auto;
    margin-top: 0rem;

}
#focsel {
    margin-top: 3rem;
}

#w1 {
    margin-top: 0rem;

}
#error {
    border: .25rem solid red;
    padding: 1rem;
    width: 500px;
    font-family: 'Lato';
    display:none;
    font-size: 35px;
    color:red;
    margin: 0 auto;
    margin-top: 2rem;
}

#back, #finish {
    display: none;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}

#rest {
    display: none;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}

#form {
    display:none;
    font-family: 'Lato';
    font-size: 35px;
    text-align: center;
}

legend {
    margin-bottom: .9rem;
    color:darkblue;
    font-size: 50px;

}

.red {
    font-family: 'Lato';
    font-size: 40px;
    color:cornflowerblue;
    vertical-align: middle;
}

input[type=radio] {
    transform: scale(2);
    margin-left: 2rem;
    margin-right: .6rem;
}

#summary{
    width:500px;
    margin: 0 auto;
    margin-top: 7rem;

    justify-items: center;
    font-family: 'Lato';
    font-size: 40px;

}

input[type=checkbox]{
    transform: scale(2.5);
    margin-left: 2rem;
    margin-right: 1rem;
}

#sumL {
    font-family: 'Lato';
    font-size: 50px;
    color:cornflowerblue;
    vertical-align: middle;
}
