
@media screen and (max-width: 667px) {
    .view {
        width: 375px;
    }
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('/fonts/Lato-Thin.ttf');
}

body {
  overflow-y: none;
  width: 100%;
  background-color: rgb(233, 231, 231);
}

#header {
    background-color: darkblue;
    height: 250px;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    margin-top: -2rem;
    text-align: center;
}

#pump {
    font-family: 'Lato';
    font-size: 60px;
    justify-content: center;
    display: flex;
    position: static;
    color: bisque;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

#date, #focus {
    font-size: 35px;
    color: bisque;
    text-align: center;
    margin-top: 0rem;
    display: inline-block;
   
}

#date {
    font-family: 'Lato-Light';
    padding-right: 1rem;
}

#focus {
    font-family: 'Lato';
}

#submit, #clear {
    display: inline;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}

select {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    text-align: center;
    color: cornflowerblue;
    font-size: x-large;
}

#top {
    padding-top: 2rem;
    justify-items: center;
    text-align: center;

}

#daily {
    width: 550px;
    padding: 0rem;
    margin-top: 2rem;
    margin-left: 3rem;
    justify-items: center;
}

#genBut {
    font-family: 'Lato-Light';
    font-size: 45px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    display:inline;
    border-radius: 1rem;
    padding: .4rem;
    margin-top: 5rem;
    width: 450px;
    margin-bottom: 2rem;
}

#form {
    display:none;
    font-family: 'Lato';
    font-size: 35px;
    text-align: center;
}

legend {
    margin-bottom: .9rem;
    color:darkblue;
    font-size: 50px;

}

label {
    font-family: 'Lato';
    font-size: 40px;
    color:cornflowerblue;
    vertical-align: middle;
}

input[type=radio] {
    transform: scale(2);
    margin-left: 2rem;
    margin-right: .6rem;
}
/* 



input[type=checkbox]{
    transform: scale(3.5);

}


.wname {
    float: left;

}

#box {
    float:right;
}

table,td {
    font-family: 'Lato';
    font-size: 37px;
    color: darkblue;
    margin-left: 2rem;
    height:100px;
    

}

#daily {
    width: 400px;
    border-style: dashed;
    border-radius: 3rem;
    border-color:cornflowerblue;
    border-width: .25rem;
    padding: 0rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

/* 
<div id="checks"> 
            <label class="wname" id="w1">this is 1</label> 
             <input id="box" type="checkbox" name="w1"> 
             <br><br>
             <label class="wname" id="w2">this is 2</label> 
             <input id="box" type="checkbox" name="w2"> 
             <br><br>



#update {
    font-family: 'Lato';
    font-size: 30px;
    background-color: rgb(232, 224, 224);
    color: rgb(80, 77, 77);
    border-radius: .7rem;
    border-width: .25rem;
    margin-left: 45rem;
    margin-top: 50rem;
}
    <input type="button" class="button" id="update" value="Start Workout">


 #myProgress {
    width: 100%;
    background-color: grey;
  }
  nackground ogrgb(233, 231, 231)
  #myBar {
    width: 1%;
    height: 50px;
    background-color: blue;
  }

  <div id="myProgress">
        <div id="myBar"></div>
      </div>
  */