#graph {
    margin-top: 30rem;
    display: none;
}
.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  /*page background*/
  .chartCard {
    width: 100vw;
    height: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* graph outline and background*/
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
  }
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('./fonts/Lato-Thin.ttf');
}


#doggo {
    margin-top: 3rem;
}

#pump {
    font-family: 'Lato';
    font-size: 75px;
    justify-content: center;
    display: flex;
    position: static;
    color: white;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

#date, #focus {
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    display: inline-block;
   
}

#date {
    font-family: 'Lato-Light';
    padding-right: 1rem;
}

#focus {
    font-family: 'Lato';
}

#submit, #backk {
    display: inline;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}

select {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    text-align: center;
    color: cornflowerblue;
    font-size: x-large;
}




#top {
    padding-top: 2rem;
    justify-items: center;
    text-align: center;

}

#daily {
    width: 600px;
    padding: 0rem;
    margin-top: 1rem;
    margin-left: 3rem;
    justify-items: center;
}

#genBut{
    font-family: 'Lato';
    font-size: 45px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    display:inline;
    border-radius: 1rem;
    padding: .4rem;
    margin-top: 5rem;
    width: 450px;
    margin-bottom: 2rem;
}


#armbeg {
    padding-top: 2rem;
    justify-items: center;
    text-align: center;

}

#w1, #w2, #w3, #w4 {
    display: none;
    font-family: 'Lato';
    font-size: 38px;
    color:darkblue;
    margin-bottom: .25rem;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#r1,#r2,#r3,#r4 {
    display: none;
    font-family: 'Lato';
    font-size: 32px;
    color:brown;
    margin-top: 1.5rem;
}

#d1, #d2, #d3, #d4 {
    display: none;
    font-family: 'Lato';
    font-size: 35px;
    color:rgb(204, 121, 43);
    margin: 0 auto;
    margin-top: 0rem;

}
#focsel {
    margin-top: 2rem;
}

#w1 {
    margin-top: 0rem;

}
#error {
    border: .25rem solid red;
    padding: 1rem;
    width: 500px;
    font-family: 'Lato';
    display:none;
    font-size: 35px;
    color:red;
    margin: 0 auto;
    margin-top: 2rem;
}

#back, #finish {
    display: none;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}
#keyboard {
    display: none;
}


#return {
    font-family: 'Lato-Light';
    font-size: 45px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    display:none;
    border-radius: 1rem;
    padding: .4rem;
    margin-top: 5rem;
    width: 450px;
    margin-bottom: 2rem;

}

#weightC, #sumLWB {
    margin: 0 auto;
    margin-top: 2rem;
    height: 60px;
    text-align: center;
    font-family: 'Lato';
    font-size: 38px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    padding: .25rem;
    width: 375px;

}

#rest {
    display: none;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato';
    font-size: 35px;
    color:brown;
    border-color:rgb(236, 117, 6);
    border: .25rem solid ;
    border-radius: 1rem;
    width: 450px;

}

#form {
    display:none;
    font-family: 'Lato';
    font-size: 40px;
    text-align: center;
}

legend {
    margin-bottom: .9rem;
    color:darkblue;
    font-size: 50px;

}

.red {
    font-family: 'Lato';
    font-size: 40px;
    color:darkblue;
    vertical-align: middle;
}

input[type=radio] {
    transform: scale(2.5);
    margin-left: 2rem;
    margin-right: .6rem;
}

#summary{
    width:700px;
    margin: 0 auto;
    margin-top: 7rem;
    
    justify-items: center;
    font-family: 'Lato';
    font-size: 40px;

}

#field {
    border-style: solid;
    border-color: darkblue;
    border-width: .5rem;
    
}

input[type=checkbox]{
    transform: scale(2.5);
    
    margin-left: 2rem;
    margin-right: 1rem;
}

#sumL {
    font-family: 'Lato';
    font-size: 50px;
    color:white;
    vertical-align: middle;
}
#sumLl {
    font-family: 'Lato';
    font-size: 45px;
    color:white;
    vertical-align: middle;
    padding-bottom: 1rem;
}

#sumLW {
    font-family: 'Lato';
    font-size: 40px;
    color:white;
    vertical-align: middle;
    display: none;
}

#countdown {
    display: none;
    font-family: 'Lato';
    font-size: 38px;
    color:brown;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-underline-offset: 2px;
    width: 400px;

}

#instr {
    display: none;
    font-family: 'Lato';
    font-size: 38px;
    color:darkblue;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-underline-offset: 2px;
    width: 400px;

}

#timer, #stop {
    display: none;
    margin: 0 auto;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;
}


/* CSS FOR FOOTER ETC */




#sumLWT { 
    font-family: 'Lato';
    font-size: 40px;
    color:white;
    vertical-align: middle;
}
#navigation {
    background-color: darkblue;
    height: 220px;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-bottom: -2rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:block;
}
#home, #diet, #exercise, #slumber {
    margin-left: 20px;
    height:170px;
    padding:.75rem;
}
/* update this based on which icon you want to darken for the page */
#exercise{
    background-color: rgb(123, 123, 207);;
}



/* background + header */
body {
    overflow-y: none;
    width: 100%;
    background-color: rgb(161, 161, 208);;
  }
  
  
  #header {
      background-color:darkblue;
      height: 250px;
      border-top-right-radius: 4rem;
      border-top-left-radius: 4rem;
      margin-top: -2rem;
      text-align: center;
  }