@font-face {
    font-family: "Lato";
    src: url('698242188-Lato-Bla.eot');
    src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
    url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
    url('698242188-Lato-Bla.woff') format('woff'),
    url('698242188-Lato-Bla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px #ccc;
    box-shadow: 0 0 1em 1em #ccc;
}
h2{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}
@media (max-width: 600px) {
    body {
      background-color: pink;
    
      background: url(/icons/food.png) repeat 0 0;
    
    }
  }

  
    .center {
        position:absolute;
        bottom:0px;
    
    }


