@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('./fonts/Lato-Bold.ttf');
}

#pump {
  font-family: 'Lato';
  font-size: 75px;
  justify-content: center;
  display: flex;
  position: static;
  color: white;
  padding-top: 4rem;
  margin-bottom: 1rem;
}

body {
  overflow-y: none;
  width: 100%;
  background-color: rgb(161, 161, 208);;
  text-align: center;
}
  
  
#header {
  background-color:darkblue;
  height: 250px;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  margin-top: -2rem;
  text-align: center;
}



   

h2 {
  margin-top: 3rem;
  font-family: 'Lato';
  font-size: 55px;
  color: darkblue;
  text-align: center;
}

h3 {
  font-family: 'Lato';
  font-size: 45px;
  color: white;
  text-align: center;
  height: 50px;
}

button{
    display: inline;
    margin: 0 auto;
    margin-top: .25rem;
    height: 53px;
    text-align: center;
    font-family: 'Lato-Light';
    font-size: 35px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    width: 450px;

}
#finishworkout {
  display: block;
  height: 40px;
  font-family: 'Lato-Light';
  font-size: 30px;
  color:darkblue;
  border: .25rem solid cornflowerblue;
  border-radius: 1rem;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;

}

#peers {
  margin-bottom: 0rem;
  margin-top: 2rem;
  margin-right: 20rem;
}





#navigation {
  background-color: darkblue;
  height: 220px;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  margin-bottom: -2rem;
  padding-top: .35rem;
  padding-bottom: .35rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display:block;
}
#home, #diet, #exercise, #slumber {
  margin-left: 20px;
  height:170px;
  padding:.75rem;
}
/* update this based on which icon you want to darken for the page */
#home{
  background-color: rgb(123, 123, 207);
}