
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('./fonts/Lato-Thin.ttf');
}

body {
    overflow-y: none;
    width: 100%;
    background-color: rgb(233, 231, 231);
    text-align: center;
}

#pump {
    font-family: 'Lato';
    font-size: 75px;
    justify-content: center;
    display: flex;
    position: static;
    color: white;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

  
#header {
    background-color:darkblue;
    height: 250px;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    margin-top: -2rem;
    text-align: center;
}




#navigation {
    background-color: darkblue;
    height: 220px;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-bottom: -2rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:block;
}

#home, #diet, #exercise, #slumber {
    margin-left: 33px;
    height:170px;
    padding:1rem;
}

body {
    overflow-y: none;
    width: 100%;
    background-color: rgb(161, 161, 208);;
  }
  
  
  #header {
      background-color:darkblue;
      height: 250px;
      border-top-right-radius: 4rem;
      border-top-left-radius: 4rem;
      margin-top: -2rem;
      text-align: center;
  }

#slumber{
    background-color: rgb(123, 123, 207);
}

/* @media (max-width: 600px) {
    body {
      background-color: pink;
    
      background: url(./icons/food.png) repeat 0 0;
    
    }
  }
  
    .center {
        position:absolute;
        bottom:0px;
    
    }
*/
h2.headertekst{
    font-family: 'Lato', sans-serif;
    display: flex;
    text-align: center;
    font-size: 40px;
    color:darkblue;
}

#pic {
    margin-top: 5rem;
}

.slide {
    position:absolute;
    bottom: 62%;
    left: 3%;
    right:0;
    margin-right: auto; 
    margin-left: auto;
    font-size: 50px;
}
#slider div {
    display:none;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
#submit {
    margin: 0 auto;
    margin-top: 2rem;
    height: 60px;
    text-align: center;
    font-family: 'Lato';
    font-size: 38px;
    color:darkblue;
    border: .25rem solid cornflowerblue;
    border-radius: 1rem;
    padding: .25rem;
    width: 375px;
}

legend {
    margin-bottom: .5rem;
    color:darkblue;
    text-align: center;
    font-size: 35px;
}

legend2 {
    margin-bottom: .5rem;
    color:darkblue;
    text-align: center;
    font-size: 35px;
}

.red {
    font-family: 'Lato';
    font-size: 30px;
    color:darkblue;
    vertical-align: middle;
}
input[type=radio] {
    transform: scale(2.5);
    margin-left: 2rem;
    margin-right: .6rem;
}
/*
h1{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px #ccc;
    box-shadow: 0 0 1em 1em #ccc;
}*/
h2{
    font-family: 'Lato-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    font-family: 'Lato-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 3px;
}